* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(20, 20, 20);
    color: white;
    font-family: monospace;
}


/* HEADER */
header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    padding: 20px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1em;
    background-color: rgba(20, 20, 20, 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); 
    z-index: 1000;
}

.indexButton {
    font-family: Helvetica, sans-serif;
    margin-left: 10px;
    border: none;
    background-color: rgba(128, 128, 128, 0.3);
    color: white;
    border-radius: 8px;
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
    font-size: 14px;
    display: inline-block;    
    text-transform: uppercase;
    cursor: pointer;
}

.indexButton:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

#buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#buttons .b1 {
    font-family: Helvetica, sans-serif;
    margin-left: 10px;
    border: 1px solid white;
    background-color: #ffffff00;
    color: white;
    border-radius: 8px;
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
    font-size: 14px;
    display: inline-block;    
    text-transform: uppercase;
    cursor: pointer;
}

#buttons .b1:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

#buttons .b1.active {
    color: black;
    background-color: white;
}

#buttons .b2 {
    font-family: Helvetica, sans-serif;
    margin-left: 10px;
    border: none;
    background-color: #5064ff;
    color: white;
    border-radius: 8px;
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
    font-size: 14px;
    display: inline-block;    
    text-transform: uppercase;
    cursor: pointer;
}

#buttons .b2:hover {
    background-color: #142fff;
}


/* METADATI */
.font {
    font-weight: bold; 
    font-size: 14px; 
    margin-bottom: 8px;
}

.categoria {
    font-size: 12px;
}

.sottocategoria { 
    font-style: italic;
    font-size: 12px;
    margin-bottom: 8px;
}

.autore { 
    font-size: 12px;
}

.anno { 
    font-size: 12px;
}

.luogo { 
    font-size: 12px;
    margin-bottom: 8px;
}

.utilizzo {
    color: gray;
    font-size: 12px;
}


/*MAIN*/
main {
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    font-size: 1em;
    line-height: 1.8;
}

main div {
    padding-top: 6px;
    padding-bottom: 14px;
    padding-left: 10px;
}

.riga{
    border-top: 1px solid rgb(50, 50, 50);
    display: grid;
    grid-template-columns: 1fr 0.4fr 0.4fr 1.4fr 0.2fr 0.4fr 1fr;
    column-gap: 1em;
}

.riga:hover{
    background-color: rgb(255, 255, 255, 0.1);
}


::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.200);
    border-radius: 10px;
}


/*FOOTER*/
footer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 200px;
    height: auto;
    background-color: rgb(20, 20, 20);
    text-align: center;
    padding: 40px 60px;
    width: 100%;
    border-top: 1px solid white;
}

.footer-name {
    grid-column: 1 / span 2;
    font-size: 18px;
    text-align: left;  
}

.footer-text {
    grid-column: 1 / span 2;
    flex: 1;
    font-size: 14px;
    text-align: left;  
    padding-top: 80px;
}


/*RESPONSIVE*/
@media screen and (max-width: 1024px){

    header {
        position: fixed;
        height: auto;
        width: 100%;
        padding: 20px 20px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        font-size: 1em;
    }

    #buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    #buttons .b1 {
        margin-left: 6px;
        border-radius: 6px;
        padding: 6px 8px;
        font-size: 12px;
        margin-bottom: 20px;
    }

    #buttons .b2 {
        margin-left: 6px;
        border-radius: 6px;
        padding: 6px 8px;
        font-size: 12px;
        margin-bottom: 20px;
    }

    .indexButton{
        margin-left: 6px;
        border-radius: 6px;
        padding: 6px 8px;
        font-size: 12px;
        margin-bottom: 10px;
    }

    .riga{
        border-top: 1px solid rgb(50, 50, 50);
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        column-gap: 1em;
        flex-wrap: wrap;
    } 

    .riga:active{
        background-color: rgb(255, 255, 255, 0.1);
    }

    .font {
        grid-column: 1 / 6;
        font-weight: bold; 
        font-size: 14px; 
        margin-bottom: 6px;
    }
    
    .categoria {
        grid-column: 1 / 6;
        font-size: 12px;
    }
    
    .sottocategoria { 
        grid-column: 7 / 12;
        font-style: italic;
        font-size: 12px;
        margin-bottom: 6px;
    }
    
    .autore { 
        grid-column: 1 / 6;
        font-size: 12px;
    }
    
    .anno {
        grid-column: 7 / 8;
        font-size: 12px;
        text-align: left;
    }
    
    .luogo { 
        grid-column: 9 / 13;
        font-size: 12px;
        margin-bottom: 6px;
    }
    
    .utilizzo {
        grid-column: 1 / 6;
        color: gray;
        
    }
}